<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap" rel="stylesheet">
    <title>Recuperar senha</title>

    style.
        body{
            margin: 0;
            padding: 0;
            border: 0;
            background: #F5F5F5;
        }

        .container{
            max-width: 100vw;
            height: 100vh;
            align-items: center;
        }

        header{
            height: 265px;
            width: 100vw;
            text-align: center;
            background: #9553A0;
        }

        header > img{
            width: 124.5px;
            margin-top: 25px;
            margin-bottom: 15px;

        }

        .title{
            color: #FFFFFF;
            font-family: 'Archivo';
            font-size: 20px;
            font-weight: 600;
            line-height: 22px;
        }

        .content{
            background: #F5F5F5;
            width: 100vw;
            text-align: center;
            position:fixed;
            
        }


        .obs {
            font-size:10px;
            font-family: 'Poppins';
            font-weight: 300;
            font-style: italic;
            color:#989898;
            margin-right: 20px;
            margin-left:20px;
        }


        .contentText {
            color:#455A64;
            font-family: 'Poppins';
            font-size: 12px;
            line-height: 18px;
            font-weight: 300;
        }

        .messageContainer{
            background: #FFFFFF;
            box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            margin-left: 16px;
            margin-right: 16px;
            margin-bottom: 26px;
            top: -80px;
            padding: 12px;
            align-self: center;
            align-items: center;
            padding-bottom: 40px;
            position: relative;
            

        }

        .messageContainer > p {
            margin-bottom: 27px;
        }

        .messageTitle{
            font-family: 'Poppins';
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            color: #455A64;
        }

        .purpleButton{
            text-decoration: none;
            color:#FFFFFF !important;
            background: #9553A0;
            width: 90%;
            height: auto;
            padding: 9px;
            border-radius: 5px;
            transition: 0.2s;
            text-align: center;
            justify-content: center;

            font-family: 'Poppins';
            font-size:15px;
            line-height:22.5px;
            font-weight: 600;
        }

        .purpleButton:hover{
            background:#703d7a;
        }

        @media(min-width: 768px){
            .content{
                align-items: center;
            }
            .messageContainer{
                width:50%;
                align-self: center;
                margin-left: 25%;
            }

            .purpleButton{
                width:50%;
            }
        }

</head>
<body>
    <div class="container">
        <header>
            <img src="https://github.com/Ed-Games/ItsCakeTime/blob/development/backend/resources/images/logo.png?raw=true" alt="It's Cake Time Logo" />
            <br/>
            <span class="title">Recuperação de senha</span>
        </header>
        <div class="content">
            <div class="messageContainer">
                <span class="messageTitle">Esqueci a minha senha, e agora?</span>
                <p class="contentText">Olá, caro usuário. Se você perdeu a sua senha, basta clicar no Botão abaixo para criar uma nova.
                </p>
                <a style='text-decoration:none !important; text-decoration:none;' class="purpleButton" href="http://10.0.0.105:3333/app/redirect/#{token}/#{email}">Criar nova Senha</a>
            </div>
            <p class="obs">Obs: Após uma hora esse método não será mais valido para recuperar sua senha e será necessário realizar outro pedido.</p>
            <span class="contentText">Para outras informações, sinta-se livre para enviar um email: <strong>contact@koldev.com.br</strong></span>
        </div>
    </div>
    
</body>
</html>